body {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
}
header {
    background-color: #3c99dd;
    position: relative;
}
header .inner {
    padding: 20px 20px;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h3 {
    line-height: 50px;
}
div.icon {
    display: inline-block;
}
header h1 {
    color: #2e5d93;
    margin-bottom: 20px;
}
header h2 {
    color: #FFF;
    font-size: 35px;
}
header p {
    color: #2e5d93;
    font-size: 18px;
    line-height: 20px;
}
header .social {
    position: absolute;
    top: 20px;
    right: 270px;
    background-color: #2e5d93;
    padding: 20px;
    border-radius: 25px 25px 0 25px;
    width: 229px;
}
header .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header .social ul li {

}
header .social ul li a {
    display: block;
    color: #E1E1E1;
    line-height: 25px;
}
header .social ul li a:hover {
    color: #FFF;
    text-decoration: none;
}
header .social ul li a .icon {
    font-size: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.address {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    line-height: 25px;
}
.content h2 {
    background-color: #123d6f;
    color: #3c99dd;
    line-height: 50px;
    padding: 0 10px;
}
.content .section {
    padding: 20px;
    background: #FFF;
}
.content .section ul {
    margin: 0;
}
table .company-title td {
    background-color: #333;
    color: #FFF;
}
table tr td p {
    padding: 5px 15px;
}

footer {
    text-align: right;
    margin: 20px 0;
}

@media (max-width:768px){
    .section .row .col-sm-3 {
        margin: 0 !important;
        width: 25%;
    }
}

@media print {
    html, body {
        -webkit-print-color-adjust: exact;
        background: #F1F1F1 !important;
    }
    header {
        background-color: #3c99dd !important;
    }
    header h1 {
        color: #2e5d93 !important;
    }
    header h2 {
        color: #FFF !important;
    }
    header p {
        color: #2e5d93 !important;
    }
    header .social {
        background-color: #2e5d93 !important;
    }
    .content h2 {
        background-color: #123d6f !important;
        color: #3c99dd !important;
    }
    a[href]:after {
        display: none;
    }
    header .social ul li a, header .social ul li a .icon {
        color: #E1E1E1 !important;
    }
    .company-title td {
        background-color: #333 !important;
        color: #FFF !important;
    }
    .page-break {
        margin-top: 50px;
    }
}